# Docker ignore whitelist

# Ignore everything
*

# except these items
!.codespellrc
!.flake8
!.isort.cfg
!.pylintrc
!.pylintrc
!cli-runner.py
!cli.py
!Makefile
!mypy.ini
!requirements_dev.txt
!requirements.txt
!reviews
!setup.cfg
!setup.py
!tests
