[flake8]
exclude = .svn,CVS,.bzr,.hg,.git,__pycache,.venv,migrations,settings,tests,.tox,build
max-complexity = 20
max-line-length = 119
select = C,E,F,W,B,B950
ignore = E203,E501,D107,D102,W503
# Ignore unused import warnings in __init__.py files
per-file-ignores = __init__.py:F401
