---
# .pre-commit-config.yaml
# ========================
#
# pre-commit clean
# pre-commit install
# pre-commit install-hooks
#
# precommit hooks installation
#
# - pre-commit autoupdate
#
# - pre-commit run black
#
# continuous integration
# ======================
#
# - pre-commit run --all-files
#

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: debug-statements
      - id: check-merge-conflict
      - id: sort-simple-yaml
      - id: requirements-txt-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-json
        files: ^tests/app/
      - id: pretty-format-json
        args: ["--no-sort-keys", "--autofix"]
        files: ^tests/app/
      - id: check-ast

  - repo: meta
    hooks:
      - id: check-useless-excludes

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: [--safe, --quiet, --line-length=119]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
    -   id: autopep8
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules", "--config-file=mypy.ini"]
        require_serial: true
        additional_dependencies: [
          types-click==7.1.2,
          types-freezegun==0.1.4
        ]

  - repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: tests

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.0
    hooks:
    - id: bandit
      description: Security oriented static analyser for python code
      exclude: ^tests/

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        description: Find dead Python code
        entry: vulture
        args: [
            "--min-confidence", "90",
            "--exclude", "*env*",
            ".",
        ]

  -   repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
      -   id: codespell
          name: codespell
          description: Checks for common misspellings in text files.
          entry: codespell reviews
          language: python
          types: [text]

  -   repo: https://github.com/asottile/pyupgrade
      rev: v3.21.1
      hooks:
      -   id: pyupgrade
