-r requirements.txt

bandit==1.7.4
black==22.12.0
codespell==2.2.2
flake8==6.0.0
flake8-unused-arguments==0.0.12
freezegun==1.2.2
ipdb==0.13.11
isort==5.11.4
mypy==0.991
pre-commit==2.21.0
pylint==2.15.10
pytest==7.2.1
pytest-cov==4.0.0
pyupgrade==3.3.1
types-click==7.1.8
types-freezegun==1.1.10
vulture==2.7
