-r requirements.txt

bandit==1.7.4
black==22.6.0
codespell==2.1.0
flake8==4.0.1
flake8-unused-arguments==0.0.10
freezegun==1.2.1
ipdb==0.13.9
isort==5.10.1
mypy==0.971
pre-commit==2.20.0
pylint==2.14.5
pytest==7.1.2
pytest-cov==3.0.0
pyupgrade==2.37.2
types-click==7.1.8
types-freezegun==1.1.10
vulture==2.5
