-r requirements.txt

bandit==1.7.4
black==22.3.0
codespell==2.1.0
flake8==4.0.1
flake8-unused-arguments==0.0.10
freezegun==1.2.1
ipdb==0.13.9
isort==5.10.1
mypy==0.950
pre-commit==2.19.0
pylint==2.13.9
pytest==7.1.2
pytest-cov==3.0.0
pyupgrade==2.32.1
types-click==7.1.8
types-freezegun==1.1.9
vulture==2.4
