name: Tests

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Linting
        run: |
          black --line-length 119 --check --diff .
          isort --check-only --diff .
          flake8 .
          pylint --rcfile=.pylintrc reviews
          codespell reviews
          find . -name '*.py' -exec pyupgrade {} +
      - name: Typecheck with mypy
        run: mypy reviews --ignore-missing-imports --disallow-untyped-defs
      - name: Test with pytest
        run: pytest -vvv --cov=./reviews --cov-report=xml:./coverage.xml --cov-report term-missing
      - name: Upload code coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: reviews
          flags: unittests
          env_vars: OS,PYTHON
